* {
    padding: 0,
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-decoration: none; */
}

a {
    text-decoration: none;
}


.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.main-side {
    align-items: center;
    justify-content: space-between;
}

.profile-icon {
    margin-left: 5px;
}

.tray {
    flex-direction: row;
    display: flex;
    border-radius: 5;
    align-items: center;
}

.tray p {
    font-weight: bold;
    border-radius: 3px;
    background: rgb(0, 0, 0);
    padding: 5px;
    color: white
}

.tray span {
    display: none;
}

.tray i {
    padding: 5px;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
}


.small-location-address {
    font-size: 11px;
    color: #000;
    font-weight: bolder;
    margin-left: 4px;
}

.large-location-address {
    display: none;
}

.small-logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF7A00;
    font-size: 20px;
}

.large-logo {
    display: none;
}

.search-div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search {
    width: 70%;
    height: 35px;
    padding: 3px;
    border: none;
    border-radius: 8px;
    text-indent:20px;
    background: rgb(247, 247, 247);
    

}

.search::-webkit-search-cancel-button{
    position:relative;
    right:20px;    
}

.search-button {
    margin-left: 4px;
}


.scrollbox-div {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
}

.scrollbox-div-with-shadow{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.mini-items-main-box div {
    scroll-behavior: smooth;
}

.scrollbox-div::-webkit-scrollbar {
    display: none;
  }

.scrollbox-div-with-shadow::-webkit-scrollbar {
    display: none;
}


.mini-item-container {
    background-color: #ff7b0023;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}


.updates-container {
    padding: 0 10px;
}

.updates-img {
    width: 100%;
    height: 17vh;
    border-radius: 10px;
}

.detail-heading {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 17px;
    margin-left: 20px;
}

.banner {
    width: 85%;
    padding: 20px;;
    margin: 0 auto;
    background-color: black;
    -webkit-box-shadow: 9px -9px 22px 4px rgba(212,212,212,0.29); 
    box-shadow: 9px -9px 22px 4px rgba(212,212,212,0.29);
    border-radius: 10px;
}

.banner-image {
    width: 100%;
    border-radius: 10px;
    
}

.brand-check {
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
}

.banner p {
    color: white;
    font-weight: bolder;
}

.banner a {
    text-decoration: none;
    background-color: #FF7A00;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}


.random-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.shuffle {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 9px -9px 22px 4px rgba(212,212,212,0.29); 
    box-shadow: 9px -9px 22px 4px rgba(212,212,212,0.29);
    height: 50px;
    background-color: #FF7A00;
    border-radius: 5px;
    width: 47%

}


.shuffle p {
    font-weight: bold;
    color: white
}


.time {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 9px -9px 22px 4px rgba(212,212,212,0.29); 
    box-shadow: 9px -9px 22px 4px rgba(212,212,212,0.29);
    height: 50px;
    border-radius: 5px;
    width: 47%
}

.time p {
    font-weight: bold;
}



.brand {
    display: flex;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.brand img {
    width: 50px;
    height: 50px;
}

.brand-name {
    font-weight: 500;
    color: rgb(46, 46, 46);
}

.eat-now{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 5px 10px  5px 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 20px;

}


.eat-now img {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}

.food-details{
    display: flex;
    margin: -5px 10px 0px 10px;
    justify-content: space-between;
    align-items: center;
}

.food-name {
    font-size: 19px;
    font-weight: 700;
    color: rgb(78, 78, 78);
}

.food-price{
    font-weight: 600;
    font-size: 18px;
}

.food-brand-details {
    display: flex;
    margin-top: -20px;
    align-items: center;
    justify-content: space-between;
}

.food-brand-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;

}

.brand-name {
    margin-left: 5px;
}
.food-brand-image {
    width: 30px;
    height:30px;
}


.brand-location {
    font-size: 12px;
}

.fa {
    color: green;
    font-size: 14px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7A00;
    padding: 10px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}



.restaurant{ 
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 0 10px;
    margin: 5px 10px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 10px;

}

.restaurant-image {
    border-radius: 10px;
}


.restaurant-details {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.restaurant-logo {
    width: 40px;
    height: 40px;
}

.restaurant-name {
    font-weight: 600;
}

.tag {
    display: flex;
    margin-top: -10px;
    font-size: 13px;
    
}


.tag p {
    background-color: #FF7A00;
    padding: 7px;
    
    color: white;
}

.restaurant-rating {
    display: flex;
    justify-content: center;
}

 .restaurant-extra-details {
    display: flex;
    justify-content: space-around;
}

.restaurant-extra-details p {
    font-size: 14px;
    color: #595959;
}


.exclusive {
    background-color: #FF7A00;
    border-radius: 10px;
}

.exclusive-food {
    background-color: white;
}


.footer {
    margin-top: 20px;
}

.full-logo {
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    color: #FF7A00;
}

.info-links-container {
    /* margin: 0 20px; */
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

/* .info-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

.info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 10px 10px 20px;
    background-color: #FF7A00;
    margin-left: 2px;
    border-radius: 5px;
    color: white;
    font-size: 12px
    

}

.copyright-container {
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: 12px;
    color: #595959
}


/*  Product Detail Styling Starts Here */

.brand-banner {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}


.brand-image {
    width: 100%;
    height: 20vh;
    margin: 0px;
    border-radius: 0 0 10px 10px;
    
}

.logo-container {
    display: flex;
    width: 100%;
}

.product-detail-logo {
    margin-top: -20px;
    margin-left: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(87, 87, 87);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    width: 50px;
    height: 50px;
}

.brand-name {
    margin-top: -.1px;
    font-size: 17px;
    margin-left: 5px;
    padding-top: 5px;
    font-weight: 700;
    padding-left: 5px;
}


.categories {
    margin-top: 30px;
}


.category {
    width: 90px;
    margin-left: 10px;
    padding: 6px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.product-detail-restaurant-info {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #474747;
    font-size: 12px;
}

.product-detail-brand-rating {
    margin-top: 30px;
    margin-left: -119px;
}

.delivery-time {
    margin-top: 30px;
    margin-left: 25px;
    
}

.active {
    background-color: #FF7A00;
    color: white;
    font-weight: 600;

}


.food-list-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-box {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
}



.food-box-image {
    width: 130px;
    height: 130px;
    border-radius: 10px;
}

.food-name-container {
    margin-left: 10px;
}

.food-box-name {
    font-size: 16px;
    font-weight: 600;
    /* margin: 0; */
    padding: 0;
}

.intray {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    margin: -20px 0px -5px 0;
}

.intray-item {
    background-color: #FF7A00;
    padding: 5px;
    margin-right: 2px;
    color: white;
}

.price {
    font-size: 14px;
    margin: 5px 0px -5px 0;
    font-weight: 700;
    color: #474747;
}


@media only screen and (min-width: 3000px) {

    .mobile-layout {
        display: none;
    }

    /* .main-header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    } */

    .small-logo {
        display: none;
    }
    .large-logo {
        display: inline-flex;

        color: #FF7A00;
    }

    .small-location-address {
        display: none;
    }

    .large-location-address {
        font-size: 12px;
        color: #000;

        font-weight: bolder;
        margin-left: 4px;
        display: inline-flex;
        color: #FF7A00

    }

    .tray span {
        display: inline-block;
    }



}
